*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    background-color: white;
}
main{
    overflow: hidden;
    margin: 50px 0px;    
}
main > div{
    display: flex;
    justify-content: center;
    /* align-items:center; */
}
#frame{
    border: none;
    margin-bottom: 50px;
}
#main{
    background-color:#b7c7d9;
}
nav{
    padding-top: 10px; 
}
nav > p{
    margin:10px 0;
}
#website{
    width: 300px;
    padding: 10px;
}

#width, #height{
    margin-top:10px;
    width: 100px;
    padding: 10px;
}

#btn, #custom, #refresh{
    font-size: 16px;
    padding: 10px 30px;
    color: black;
    background-color: white;
    border: 2px solid black;
}

#sel1,#sel2,#sel3{
    background-color: white;
    font-size: 16px;
    padding:10px 30px;
}

#color{
    background-color: white;
    padding: 10px;
    width: 80px;
    height: 40px;
}
footer{
    background-color: white;
    position: fixed;
    width: 100vw;
    bottom: 0;
}